<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card" style="width: 18rem; align-items: center;">
      <img
        src="../../assets/photos/zoom-icon-logo.png" 
        class="" width="100" style="align-items:center;"
        alt="Zoom"
      />
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Zoom</h5>
        <p class="card-text">
          Automatically add your Zoom meeting details in event scheduler.
        </p>
        <a href="#!" class="btn btn-primary" style="align-items: center;">Integrate</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem; align-items: center;">
      <img
        src="../../assets/photos/google-meet-logo.png" 
        class="" width="100" style="align-items:center;"
        alt="Google Meet"
      />
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Google Meet</h5>
        <p class="card-text">
            Automatically add your Google Meet details in event scheduler.
        </p>
        <a href="#!" class="btn btn-primary" style="align-items: center;">Integrate</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem; align-items: center;">
      <img
        src="../../assets/photos/OIP (3).jpg" 
        class="" width="100" style="align-items:center;"
        alt="Webex"
      />
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Webex</h5>
        <p class="card-text">
            Automatically add your Webex details in event scheduler.
        </p>
        <a href="#!" class="btn btn-primary" style="align-items: center;">Integrate</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem; align-items: center;">
      <img
        src="../../assets/photos/kisspng-microsoft-teams-office-365-microsoft-office-micros-5cd0b190d544c1.3545819815571808168736.jpg"
        class="" width="100" style="align-items:center;"
        alt="Microsoft Teams"
      />
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;"> Microsoft Teams Conferencing</h5>
        <p class="card-text">
            Automatically add your Microsoft Teams Conferencing details in event scheduler.
        </p>
        <a href="#!" class="btn btn-primary" style="align-items: center;">Integrate</a>
      </div>
    </div>
  </div>
</div>